%% -*- erlang -*-
%% Config file for dthread-application
{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -D_THREAD_SAFE"}
	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/drv.so",
	       ["c_src/dthread.c", "c_src/dthread_drv.c"]},
	      {"win32","priv/dthread_drv.dll",
	       ["c_src/dthread.c", "c_src/dthread_drv.c"]}
	     ]}.


